.main-bg{
  background-color: #FFB273;
}
.margin{
  margin-left: 15;
}
.carousel-control-prev, .carousel-control-next {
    height: 70%;

}
.bg-custom {
  background-color: #B3541E;
}
.carousel-item {
  height:32rem;
  background:#777;
  color:white;
  position: relative;
  background-position: center;
  background-size: cover;
}
.container-carousel {
  position: absolute;
  bottom:0;
  right:0;
  left:0;
  padding-bottom:50px;
}
.overlay-image {
  position: absolute;
  bottom:0;
  right:0;
  left:0;
  top:0;
  background-position: center;
  background-size: cover;
  opacity:0.7;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: right;
    color: #f2f2f2;
    padding: 16px 50px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.logo {
  color: #F64A46;
  font-family: sans-serif;
  font-size: 30px;
  float: left;
  padding: 8px 50px;
}
.container {
  padding: 16px;
}
.topright {
  position: absolute;
  top: 60px;
  right: 100px;
  font-size: 18px;
}
.bottomleft {
  position: fixed;
  bottom: 250px;
  left: 16px;
  font-size: 18px;
}
.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    position: fixed;
    bottom: 20px;

}

.p {
    text-align: justify;
    font-size: 25px;
}
.centerami{
    text-align: center;
}
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
.centering {
  position: absolute;
  top: 23%;
  width: 95%;
  text-align: center;
  font-size: 18px;
}
.centeringdown {
    position: absolute;
    top: 50%;
    width: 95%;
    text-align: center;
    font-size: 18px;
}
input[type=text], input[type=password] {
  width: 800px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
